/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #58a4ac;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  /*background-image: url(../assets/images/login_1.jpg);
  background-size: cover; 
  background: #8222ff;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #1db0f5, #8222ff);   Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #1db0f5, #8222ff);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to top right, rgb(10, 108, 255), rgb(27, 120, 237), rgb(44, 132, 220), rgb(60, 144, 202), rgb(77, 156, 184), rgb(94, 168, 166), rgb(111, 180, 149), rgb(128, 192, 131), rgb(145, 204, 113), rgb(161, 216, 95), rgb(178, 228, 78), rgb(195, 240, 60));
  
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
